/*------------------------------------*\
    #FORMS
\*------------------------------------*/

/**
 * 1) Form element base styles
 */

/**
 * Input placeholder text base styles
 */
::-webkit-input-placeholder {
  font-style: italic;
  color: $color-neutral-gray-42;
}

::-moz-placeholder {
  font-style: italic;
  color: $color-neutral-gray-42;
}

:-ms-input-placeholder {
  font-style: italic;
  color: $color-neutral-gray-42;
}

/**
 * Fieldset base styles
 */
fieldset {
  border: 0;
  padding: size(0);
  margin: size(0);
}

/**
 * Legend base styles
 */
legend {
  margin-bottom: size(0.5);
}

/**
 * Label base styles
 */
label {
  display: block;
  color: $color-brand-blue;
}

/**
 * Add font size 100% of form element and margin 0 to these elements
 */
button,
input,
select,
textarea {
  @include typography-preset-4;
  font-family: inherit;
  margin: size(0);
}

/**
 * Text area base styles
 */
textarea {
  resize: none;
  border: none;
  transition: box-shadow $anim-fade-quick $anim-ease,
    border-color $anim-fade-quick $anim-ease;
  outline: none;

  &:hover {
    border-color: $color-neutral-gray-50;
  }

  &:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 2px $color-brand-blue;
  }
}

/**
 * Input  and text area base styles
 */
input,
textarea {
  width: 100%;
  padding: size(1);
  background-color: transparent;
}

/**
 * Remove webkit appearance styles from these elements
 */
input[type='text'],
input[type='search'],
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration,
input[type='url'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='number'],
select,
textarea {
  -webkit-appearance: none;
  width: 100%;
  border: $border-width solid $color-neutral-gray-20;
  border-radius: $border-radius;
  outline: none;
  padding-top: size(1);
  padding-right: size(0);
  padding-bottom: size(1);
  padding-left: size(2);
  color: $color-neutral-black;
  transition: box-shadow $anim-fade-quick $anim-ease,
    border-color $anim-fade-quick $anim-ease;

  &:hover {
    border-color: $color-neutral-gray-50;
  }

  &:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 2px $color-brand-blue;
  }
}

/**
 * 1) Make room for select dropdown icon 
 */
select {
  padding-right: size(4); /* 1 */
}

/**
 * Checkbox and radio button base styles
 */
input[type='checkbox'],
input[type='radio'] {
  &:focus {
    @include focus;
  }
}
