@import '../../css/scss/abstracts/_variables.scss';
@import '../../css/scss/abstracts/_mixins.scss';

/*------------------------------------*\
    #PRIMARY NAVIGATION
\*------------------------------------*/

/**
 * Primary navigation existing in the header and maybe the footer
 * 1) The outer <nav> wrapper of the primary navigation
 * 2) Normally margin-top should not be used to space elements, but
 *    the primary navigation is
 */

.cn-c-primary-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/**
 * Primary nav list
 * 1) The actual list of nav items
 */
.cn-c-primary-nav__list {
  @include reset;
  display: flex;
  list-style: none;
  z-index: 2;
}

/**
 * Primary nav item
 * 1) Individual list item
 */
.cn-c-primary-nav__item {
  margin-left: size(4);

  /**
     * First primary nav item
     */
  &:first-child {
    margin-left: 0;
  }
}

/**
 * Primary nav link
 * 1) Individual link within each primary nav item
 */
.cn-c-primary-nav__link {
  display: flex;
}
