/*------------------------------------*\
    #INLINE FORM
\*------------------------------------*/

/**
 * 1) An inline form displays an input and a button side-by-side.
 * 2) Can be used for search, email newsletter signup, and other one-field forms
 */
.cn-c-inline-form {
  display: flex;
  padding: size(1) 0;
}

/**
 * Inline form input
 * 1) Actual text input of the inline form
 * 2) Set to flex: 1 to allow the input to take up most of the space.
 */
.cn-c-inline-form__input {
  flex: 1; /* 2 */
  padding: size(1);
}
