@import '../../css/scss/abstracts/variables';
@import '../../css/scss/abstracts/mixins';

/*------------------------------------*\
    #HEADER
\*------------------------------------*/

/**
 * 1) 
 */
.cn-c-header {
  background-color: $color-neutral-gray-10;
  padding: size(2);
}

.cn-c-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
