@import '../../css/scss/abstracts/_variables.scss';
@import '../../css/scss/abstracts/_mixins.scss';

/*------------------------------------*\
    #SECTION
\*------------------------------------*/

/**
 * Section
 * 1) A section is a discrete section of a web page
 */
.cn-c-section {
  padding-top: size(4);
  padding-bottom: size(4);
}

/**
 * Section header
 * 1) contains the section title, description and other header content
 */
.cn-c-section__header {
  display: flex;
  flex-direction: column;
  margin-bottom: size(4);

  /**
     * Section header within centered section
     */
  .cn-c-section--center & {
    align-items: center;
  }
}

.cn-c-section__kicker {
  @include reset;
  @include typography-preset-8--bold;
}

/**
 * Section title
 */
.cn-c-section__title {
  margin: 0;
  @include typography-preset-2--bold($responsive: true);
}

/**
 * Section description
 */
.cn-c-section__description {
  @include typography-preset-4($responsive: true);
  @include reset;
  margin-top: size(1);
}
